*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #F5F8F9;
}

/* header */
header
{
    padding: 15px 25px;
    background-color: white;
}

#logo
{
    vertical-align: middle;
}

h1
{
    display: inline;
    vertical-align: middle;
    font-size: 3em;
}

/* main */
main
{
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}

nav
{
    padding: 18px 0px 12px 40px;
    border-bottom: 3px solid #F5F8F9;
}

button
{
    padding: 5px;
    border-radius: 4px;
}

.blue-button
{
    background-color: #48ADF1;
    color: white;
    border: 1px solid #48ADF1;
}

.white-button
{
    background-color: white;
    color: #DADEE0;
    border: 1px solid #DADEE0;
}

/* ul general */
ul
{
    margin: 25px;
    padding-left: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    list-style: none;
}

li
{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* entities */
.check-mark
{
    color: #9DD9CD;
    display: inline-block;
    border: 2px solid #9DD9CD;
    border-radius: 50%;
    font-size: 0.8em;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
}

.cross-mark
{
    color: #EC6158;
    display: inline-block;
    border: 2px solid #EC6158;
    border-radius: 50%;
    font-size: 0.8em;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
}

/* task font */
.task
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
}

/* boxes-general */
.little-boxes
{
    display: inline-block;
    font-size: 15px;
    color: white;
    font-weight: 100;
    border-radius: 15px;
    padding: 8px;
    vertical-align: baseline;
}

/* color-boxes */
.blue 
{
    background-color: #45ABEA;
}
.purple
{
    background-color: #9C72E4;
}

.green
{
    background-color: #63C0A9;
}

.orange
{
    background-color: #F29E33;
}

.pink
{
    background-color: #D763A1;
}

.light-green
{
    background-color: #B0C925;
}






